.divColumna {
    display: flex;
    flex-direction: column;
}

.boton {
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    text-align: center;
}

input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
}